// styles/custom.scss

// Example of overriding the primary button color
$primary: transparent;

// Add your custom styles below
.nav-underline .nav-link{
    color: white;
}

.nav-underline .nav-link.active{
  background-color: $primary;
  color: #21D0B3;
  // Add more styles as needed
}

.dropdown-menu{
    background-color: #21D0B3;
}

@media (max-width: 992px) {
    .tab-pane{
        padding: 20px 20px 0 20px;
    }
    
}

.tab-pane{
    padding-top: 20px;
}